{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}guides/getting-started//" role="button">Quick Start</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">3D Point Cloud Processing</h2>
          <p>VVTk provides a set of tools for processing and analyzing 3D point cloud data</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Point Cloud-based Volumetric Video Playback</h2>
          <p>VVTk supports interactive playback of volumetric video in PCD and PLY format</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">DASH Streaming</h2>
          <p>VVTk enables DASH-based streaming of volumetric videos</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Extensible</h2>
          <p>VVTk can be extended easily with new commands</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">By Researchers, For Researchers</h2>
          <p>Designed with research workflow in mind</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Open Source</h2>
          <p>VVTk is open source and free to use</p>
        </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
